/build/bin/
/build/opuscodec/
/build/audio3a/
/build/deploy-*/
/build/deploy/
/desktop/target/
/desktop/dist/
/docs/ui-prototype/node_modules/
/docs/ui-prototype/*.html
/docs/ui-prototype/*.png
.DS_Store
*.log
